<div class="jumbotron">
  <h1>FirstApp</h1>
  <p>compelling content would go here</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">ENTER</a></p>
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>  Martini</button>
</div>
<h1>HOLY CRAP!</h1>
<p>Find me in app/views/main/index.html.erb <------this is cool in case you forget where to go to edit.</p>

<select>
<option>Option 1</option>
<option>Option 2</option>
<option>Option 3</option>
<option>Option 400</option>
</select>
